
NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://questionmartadmin:QuestionMart2026Secure@question-mart-cluster.xyhe2ft.mongodb.net/question_mart_cafe?retryWrites=true&w=majority&appName=question-mart-cluster
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRE=30d
